._ {
    width: 130px;
    height: 45px;
    position: relative;
    cursor: pointer;

    &_selector {     
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        visibility: hidden;
        transition: 500ms ease-out;
        &_country {
            display: flex;
            align-items: center;
            height: 100%;
            column-gap: 10px;
        }

        &_flag {
            width: 25px;
            height: 25px;
        }

        &_name {
            font-size: 15px;

        }
        &_arrow {
            rotate: 90deg;
            transition: 500ms ease-out;
        }
    }
}