/* Default styles */
* {
    box-sizing: border-box;
}

::selection {
    background: $purple_100;
    color: $white;
}

html {
    font-size: $baseFontSize;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    height: 100vh;

    line-height: 1.42;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(125,136,242,1) 2%, rgba(125,136,242,1) 96%);
    padding: 50px 80px;
    @include tablets-sm {
        height: 100%;
    }
    @include phones-md {
        padding-inline: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 48px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding-inline-start: $containerPaddingLeft;
    padding-inline-end: $containerPaddingRight;
    background-color: $white;
    border-radius: 40px;
    height: calc(100vh - 100px);
    
    @include tablets-lg {
        padding-inline-start: $containerPaddingMediaLeft;
        padding-inline-end: $containerPaddingMediaRight;
        height: auto;
        padding-bottom: 40px;
    }
    @include tablets-sm {
        height: auto;
        padding-block: 40px;
    }

}

.medium_button {
    margin-top: 50px;
    background-color: $purple_100;
    color: white;
    border: none;
    border-radius: 50px;
    width: 180px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    transition: 500ms linear;
    padding: 10px 0;

    &:hover {
        background-color: $purple_200;
        text-shadow: 0 0 5px white;
    }

    // &:disabled {
    //     background-color: $grey_700;
    // }
 
    @include tablets-sm {
        width: 100%;
    }
}