/* Default styles */
* {
    box-sizing: border-box;
}

::selection {
    background: $purple_100;
    color: $white;
}

html {
    font-size: $baseFontSize;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    height: 100vh;

    line-height: 1.42;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(125,136,242,1) 2%, rgba(125,136,242,1) 96%);
    padding: 50px 80px;
    @include tablets-sm {
        height: 100%;
    }
    @include phones-lg {
        padding-inline: 50px;
    }
    @include phones-md {
        padding-inline: 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 48px;
}

p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding-inline-start: $containerPaddingLeft;
    padding-inline-end: $containerPaddingRight;
    background-color: $white;
    border-radius: 40px;
    height: calc(100vh - 100px);
    
    @include tablets-lg {
        padding-inline-start: $containerPaddingMediaLeft;
        padding-inline-end: $containerPaddingMediaRight;
        height: auto;
        padding-bottom: 40px;
    }
    @include tablets-sm {
        height: auto;
        padding-block: 60px 70px;

    }
    @include phones-md {
        height: auto;
        border-radius: 30px;
        padding-block: 30px 40px;
        padding-inline: 20px;

    }

}

.filled_button {
    margin-top: 50px;
    border-radius: 50px;
    width: 180px;
    height: 45px;
    font-size: 16px;
    cursor: pointer;
    transition: 400ms ease;
    padding: 10px 0;
    @include medium_button($purple_100, white, none);

    &:hover {
        @include medium_button_hover($purple_200, white);
        text-shadow: 0 0 5px white;
        border: none;
    }
 
    @include tablets-sm {
        width: 100%;
    }
}

.error_title {
    color: #EB407A;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
    display: block;
    animation: errorShoadow 500ms ease-in infinite alternate;
}

@keyframes errorShoadow {
    from {
        text-shadow: 5px 5px 10px rgb(252, 7, 7);
    }
    to {
        text-shadow: 0px 0px 30px rgb(252, 7, 7);
        scale: 1.1;
    }
}