._ {
    margin-top: 5px;

    @include tablets-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_title {
        color: #b5b3b3;
        font-size: 15px;
    }
    &_select {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        @include tablets-sm {
            width: 100%;
        }

        &_option{
            border: 1px solid $purple_200;
            box-shadow: 0 0 2px $grey_700;
            padding: 10px 20px;
            border-radius: 3px;
            margin: 10px 0;
            cursor: pointer;
            transition: 300ms ease;

            &:hover {
                background-color: $purple_200;
                color: white;
            }
        }
        &_option:hover &_inp {
            accent-color: white;
        }

        &_inp{
            scale: 1.3;
            accent-color: $purple_100;
        }
        
        &_name {
            margin-left: 20px;
            font-size: 15px;
        }
    }
    &_btn {
        margin-top: 50px;
        background-color: $purple_100;
        color: white;
        border: none;
        border-radius: 50px;
        width: 180px;
        height: 45px;
        font-size: 16px;
        cursor: pointer;
        transition: 500ms linear;

        &:hover {
            background-color: $purple_200;
            text-shadow: 0 0 5px white;
        }

        @include tablets-sm {
            width: 100%;
        }
    }

        
}